:root {
    --dark-green: #019689;
    --light-green: #d7f9bc;
    --dark-gray: #989798;
    --gray: #ebe9eb;
    --blue:#8edafd;
    --light:#ffff;
    --dark: black;
}


body {
    height: 100vh;    
}

.col-4 {       
    padding: 0;
}

.col-8 {      
    padding: 0;
}

.header {    
    height: 100px;
    width: 100%;    
    background-color: var(--dark-green);    
}

main { 
    flex-grow: 1; 
    background-color: var(--dark-gray);
}

.container {
    position: relative;
    top: -70px;    
}

.row {
    height: 1200px;
}

h5,p {
    margin: 0;
}

.icons {
    font-size: 20px;
    color: darkgray;
}

ul {
    list-style: none;
}

/* User */
.user {
    height: 80px;
    background-color: var(--gray);
    width: 100%;
    padding: 20px;
    
}

.user-image {
    border-radius: 999px;
    width: 50px;
}

/* Notification and search bar */
.notification {
    height: 60px;
    background-color: var(--blue);
    width: 100%; 
    padding-left: 10px;       
}

.circle {
    background-color: white;
    display: inline-block;
    border-radius: 60px;    
    padding: 0.5em 0.6em;    
    color: var(--blue);
    font-size: 20px;
    align-self: center;
}

.text-notification {
    line-height: 20px;
    font-size: 12.5px;
    font-weight: bold;
}

.search-btn {
    border: none;
    background-color: var(--light);
    color: #989798;
    width: 50px;
}

.chat-input {
    flex-grow: 1;
    border: none;
    padding-left: 10px;
}

.search {
    height: 40px;
    background-color: var(--gray);
    width: 100%;    
}

/* Contacts */
.contacts {
    width: 100%;
    background-color: var(--light);
    flex-grow: 1;
} 

.list-contacts {
    padding: 0;
}

.contact {
    border-top: 1px solid var(--gray);        
}

.user-text p:last-child {
    font-size: 13px;
    color: var(--dark-gray);
}

.user-contact {
    height: 80px;
    width: 100%;
    background-color: var(--gray);  
    padding: 20px;
    border-left: 1px solid var(--dark-gray);  
}

/* Chat */

.chat {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    padding: 70px;
}

.chat-message {
    display: flex;
}

.container-flex-end {    
    justify-content: flex-end;
}

.container-flex-start {
    justify-content: flex-start;
}

.bg-green {
    background-color: var(--light-green);
}

.bg-white {
    background-color: var(--light);
}

.message {
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
/* Bar Message */

.bar-message {
    height: 80px;
    width: 100%;
    background-color: var(--gray);
}

.bar-message .icons {
    color: var(--dark-gray);
}

.focus-utent {
    background-color: var(--gray);
}
